*{
    padding: 0%;
    margin: 0%;
}

#displayBox{
    /* /* height: 15vh; */
    width: 500px; 
    background-color: chocolate;
    /* margin-left: 10%;  */
    font-size: x-large;
    text-align: end;
    border: 2px solid black;
}

.container{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px;
    border: 2px solid black; 
    margin: 10%; 
}
.individualRows{
    display: flex;
    flex-direction: row;
    background-color: aqua;
    flex-grow: 1;

}
.elements{
    padding: 5%; 
    border: solid 2px black;
    flex-grow: 1;
}
